<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="pt-br" th:replace="fragments/header :: header"></head>
<meta charset="UTF-8"></meta>
<body>
	<div class="page">
		<div th:replace="fragments/navbar :: navbar"></div>
      	<div class="page-content d-flex align-items-stretch"> 
			<div th:replace="fragments/navbar_login :: navbar_login"></div>

			<div class="content-inner">
				<!-- Page Header-->
				<header class="page-header">
					<div class="container-fluid">
						<h2 class="no-margin-bottom">Templates</h2>
					</div>
				</header>
				<!-- Breadcrumb-->
	            <div class="breadcrumb-holder container-fluid">
	            	<ul class="breadcrumb">
	              		<li class="breadcrumb-item"><a th:href="@{/dashboard/}">Dashboard</a></li>
	              		<li class="breadcrumb-item active">Templates</li>
	            	</ul>
	          	</div>
	          	
	          	<section id="tb_languages">
		          	<div class="container-fluid">
	              		<div class="row">
	                		<div class="col-lg-12">
	                  			<div class="card">
	                  				<div class="card-header d-flex align-items-center">
	                  					<div class="row col-sm-12">
										  <div class="col col-md-8">
										  	<h3 class="h4">Templates</h3>	
										  </div>
										  <div class="col-6 col-md-4">
										  	<a th:href="@{/admin/template/new}" class="btn btn-primary">Novo Template</a>
										  </div>
										</div>
				                    </div>
				                    <div class="card-body">
				                    	<div class="table-responsive">
				                        	<table class="table">
				                          		<thead>
						                            <tr>
						                              <th>ID</th>
						                              <th>Título</th>
						                              <th>Ativo/Inativo</th>
						                              <th>Ações</th>
						                            </tr>
				                          		</thead>
				                          		<tbody>
						                        	<tr th:each="template : ${templates}">
						                              <td th:text="${template.id}"></td>
						                              <td th:text="${template.title}"></td>
						                              <td th:id="'active_' + ${template.id}">
						                              	<span th:if="${template.active}" class="badge badge-pill badge-success">Ativo</span>
						                              	<span th:if="!${template.active}" class="badge badge-pill badge-danger">Inativo</span>
						                              </td>
						                              <td>
						                              	<div class="dropdown">
															<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														    	<i class="fa fa-list"></i>
														  	</button>
														  	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
														    	<a class="dropdown-item" href="#" th:href="@{/admin/template/edit/{id}(id=${template.id})}"><i class="fa fa-edit"></i> Editar</a>
														    	
														    	<div th:id="'active_link_' + ${template.id}">
														    		<a onclick="enable(this)" th:if="!${template.active}" class="dropdown-item" th:attr="data-id=${template.id}"><i class="fa fa-check"></i> Ativar</a>
														    		<a onclick="disable(this)" th:if="${template.active}" class="dropdown-item" th:attr="data-id=${template.id}"><i class="fa fa-times"></i> Desativar</a>
														  		</div>
														  	</div>
														</div>
						                              </td>
						                            </tr>
						                        </tbody>
				                        	</table>
				                        	<hr />
				                        	<nav aria-label="...">
												<ul class="pagination justify-content-center">
												    <li th:class="'page-item' + ${page.hasPreviousPage}? '' : 'disabled'">												    
												      <a class="page-link" th:if='${page.hasPreviousPage}'
												      	th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'>Previous</a>
												    </li>
													
												    <li class="page-item" th:each="item : ${page.items}" th:classappend="${item.current}? 'active' : ''">
												    	<a th:href='@{${page.url}(page=${item.number-1},size=${page.size})}' th:text="${item.number}" class="page-link"></a>
												    </li>
												    <li class="page-item" th:classappend="${page.hasNextPage}? '' : 'disabled'">
												      <a class="page-link" th:if="${page.hasNextPage}"
                                       					th:href="@{${page.url}(page=${page.number},size=${page.size})}">Next</a>
												    </li>
											  	</ul>
											</nav>
				                      	</div>
				                	</div>
	                  			</div>
	                  		</div>
	                  	</div>
	                </div>
                </section>
				

				<!-- Page Footer-->
				<div th:replace="fragments/footer :: footer"></div>

			</div>
		</div>

	</div>
	<script type="text/javascript">
		function enable(field) {
			var id = $(field).attr('data-id');
			$.ajax({
				method: 'GET',
				url: '/admin/template/enable/' + id,
				success: function(data) {
					var html = '';
					html = '<span class="badge badge-pill badge-success">Ativo</span>';
					$('#active_' + id).html(html);

					html = '<a onclick="disable(this)" class="dropdown-item" data-id="'+ id +'"><i class="fa fa-times"></i> Desativar</a>';
					$('#active_link_' + id).html(html);
				},
				error: function() {
					alert('Não foi possível alterar o status.');
				}
			});	
		}
		
		function disable(field) {
			var id = $(field).attr('data-id');
			$.ajax({
				method: 'GET',
				url: '/admin/template/disable/' + id,
				success: function(data) {
					var html = '';
					html = '<span class="badge badge-pill badge-danger">Inativo</span>';
					$('#active_' + id).html(html);
					
					html = '<a onclick="enable(this)" class="dropdown-item" data-id="'+ id +'"><i class="fa fa-check"></i> Ativar</a>';
					$('#active_link_' + id).html(html);
				},
				error: function() {
					alert('Não foi possível alterar o status.');
				}
			});	
		}
		
		$(document).ready(function() {
			
		});
		
	</script>
	
</body>
</html>
