<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head lang="pt-br" th:replace="fragments/header :: header"></head>
<body>
	<!-- Main Navbar_login-->
	<!-- Side Navbar -->
	<nav class="side-navbar" th:fragment="navbar_login">
		<!-- Sidebar Header-->
		<div class="sidebar-header d-flex align-items-center">
			<div class="avatar">
				<img src="" alt="" class="img-fluid rounded-circle">
			</div>
			<div class="title">
				<span sec:authentication="name" class="h4"></span>
				<p sec:authentication="principal.authorities"></p>
			</div>
		</div>

		<!-- Sidebar Navidation Menus-->
		<span class="heading">Menu</span>
		<ul class="list-unstyled">
			<div sec:authorize="hasAuthority('ROLE_ADMIN')">
				<li class="active">
					<a th:href="@{/admin/template/}"> 
						<i class="icon-form"></i>Templates
					</a>
				</li>
				<li>
					<a th:href="@{/admin/language/}"> 
						<i class="fa fa-globe"></i>Idiomas
					</a>
				</li>
			</div>
			<div sec:authorize="hasAuthority('ROLE_USER')">
				<li>
					<a th:href="@{/language/}"> 
						<i class="fa fa-globe"></i>Meus Idiomas
					</a>
				</li>
			</div>
		</ul>
	</nav>
	
</body>
</html>



