<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="pt-br" th:replace="fragments/header :: header"></head>
<body>
	<div class="page">
		<div th:replace="fragments/navbar :: navbar"></div>
		<div class="page-content d-flex align-items-stretch">
			<div th:replace="fragments/navbar_login :: navbar_login"></div>

			<div class="content-inner">
				<!-- Page Header-->
				<header class="page-header">
					<div class="container-fluid">
						<h2 class="no-margin-bottom">Dashboard</h2>
					</div>
				</header>

				<!-- Page Footer-->
				<div th:replace="fragments/footer :: footer"></div>

			</div>
		</div>

	</div>
</body>
</html>
